.root {
  width: 100%;
  height: 100vh;
}

.top {
  width: 100%;
  height: 28%;
  display: flex;
}

.foundations, .freeCells{
  width: 50%;
  height: 100%;
}
.cascadeColumns {
  width: 100%;
  height: 40%;
}
.msg {
  width: 100%;
  height: 2%;
  user-select: none;
}